<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 宿主端需要列出已安装 App，方便给每个 App 配置假通讯录方案。 -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.FakeContactBook">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="给指定 App 或全局返回自定义通讯录，保护真实联系人隐私。" />
        <meta-data
            android:name="xposedminversion"
            android:value="89" />
        <meta-data
            android:name="xposedscope"
            android:value="com.android.providers.contacts" />


        <provider
            android:name=".provider.HookConfigProvider"
            android:authorities="com.fourtwo.fakecontactbook.provider"
            android:exported="true" />

        <activity
            android:name=".ui.ProfileEditorActivity"
            android:exported="false" />

        <activity
            android:name=".ui.HttpApiActivity"
            android:exported="false" />

        <activity
            android:name=".ui.ContactQueryTesterActivity"
            android:exported="false" />

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.PhoneGeneratorActivity"
            android:exported="false" />
    </application>

</manifest>
